<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome <%= data.name %> and your id is <%=data.id %></h1>
    <ul>
    <% data.movie.forEach((curElem)=>{ %>
        <li><%=curElem %></li>
    <% }) %>
</ul>
</body>
</html>